:root{ 

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    color: #E7F6F2;
    box-sizing: border-box;
    margin:16px 8px;

}

*,
*::before,
*::after{

    box-sizing: inherit;

}

body{

    background-color: #FFFFFF;
    margin: 0;

}


ul{

    list-style: none;

}

a{
       text-decoration: 0;

}
   
#nav-desktop ul{

    display: inline-block; 
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 8px;

}

ul > li {

    margin:0;
}

#nav-desktop a{

    color:#000000;
}

#logo{

    margin: 0px;
    width: 89px;
    height: 75px;
}

#img{

    float: left;
    margin: 0px;
}

#menu{

    float: right;
    margin: -59px 8px 8px 0;
}

#nav-desktop{

    margin-top: -100px;

    text-transform: uppercase;
    text-align: center;
}

#nav-desktop > ul >  li > a:hover{

    color: #14424E; 
    text-decoration: underline;
}

#first-page{

    background-image: url(img/background1.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    
}

#second{

    background-color: #14424E;
    margin: -8px;
    margin-bottom: 0px;
}

#third{

    background-image: url(img/land.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: -8px;
}

h1{

    font-weight: 400;
    color: #395B64;
}
h2{

    font-weight: 400;
    text-align: center;
    color: #A5C9CA; 

}

.project{

    display: grid; 
    justify-items: center;
    align-items: center;
}

h3{
    font-style: normal;
    font-weight: 400;  
    color: #FFFFFF;
    text-align: center;

}
#span p{

    font-weight: 400;
    text-align: center;
    color: #E7F6F2;

}
.grid{

    display: grid;
    justify-items: center;
    align-items: center;

}

div > span{

    font-weight: 400;  
    color: #FFFFFF;

}


@media (min-width:1200px){

    #but-menu {

        display: none;
    }

    h1{

        font-size: 70px;
        line-height: 84px;
        letter-spacing: 0.1em;
        margin-top: 579px;
        margin-left: 20px;

    }

    h2{

        font-size: 64px;
        line-height: 77px;
        letter-spacing: 0.1em;
        padding-top: 32px;
        margin: 0;
        margin-bottom: 16px;

    }

    .photo{

        width: 544px;
        height: 273px;

    }
    .project{

        grid-template-columns: 50% 50%;
        
    } 
    h3{

        font-size: 32px;
        line-height: 45px;

    }
    
    #span p{

        font-size: 32px;
        line-height: 45px;

        padding-bottom: 32px;
        margin: 0;

    }

    .grid{ 

        grid-template-columns: repeat(3, 1fr);

    }
    
    div > span
    {

        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.1em;
        
    }
    
    .photo-video
    {
        width: 382px;
        height: 220px;
    }
        
    .swiper-button-next, .swiper-rtl .swiper-button-prev
    {
        top: 2300px !important;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next
    {
        top: 2300px !important;
    }

    .slide-photo{
        width: 444px;
        height: 146px;
    }
    #contacts span{
        font-size: 24px;
        line-height: 29px;
    }
    .regButton{ 
        
        font-size: 24px;
        line-height: 29px;
    }

    #left{
        display: none;
    }

}


@media (max-width:1200px){
    
    .left{

        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); 

        top:0;
        left:0;
        opacity: 0;

        visibility: hidden;
        overflow-y: auto ;
        overflow-x: hidden;
        transition: all 0.8s ease 0s;

    }

    .left:target{

        opacity: 1;
        visibility: visible;
    }

    .popup_area{

        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
    }

    .popup_body{

        min-height: 100%;
        display: flex;

        align-items: center;
        justify-content: center;
        padding:  30px 10px;

    }
    .popup_content{

        background-color: #E7F6F2;
        color: #395B64;
        max-width: 1200px;
        padding: 60px 120px;
    }
  
    .popup_text{

        font-weight: 400;
        font-size: 36px;
        line-height: 90px;
        letter-spacing: 0.1em;
        text-decoration: none;
        list-style: none;
        text-align: center;       
        color: #395B64;

    }

    li > a:hover{

        color: #14424E; 
        text-decoration: underline;

    }
   
    #nav-desktop{

        display: none;
    }

    #but-menu{

        margin: 0px;
    }

    h1{

        font-size: 35px;
        line-height: 42px;
        letter-spacing: 0.1em;
        margin-top: 450px;
        margin-left: 8px;

    }

    h2{
        
        font-size: 35px;
        line-height: 42px;
        letter-spacing: 0.1em;
        margin-top: -16px;
        margin-bottom: 16px;
         
    }

    .photo{

        width: 322px;
        height: 140px;
    }
    
    .project{

        grid-template-columns: 100%;
    } 
    
    h3{
      
        font-size: 25px;
        line-height: 45px;
    
    }
    
    #span p{

        font-size: 15px;
        line-height: 45px;
        padding-bottom: 16px;
    }

    .grid{

        grid-template-columns: repeat(2, 1fr); 
    }
    
    div > span{

        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.1em;

    }
    
    .photo-video{

        width: 320px;
        height: 160px;
    }
    
    
    #del{
        display: none;
    }

    
    .swiper-button-next, .swiper-rtl .swiper-button-prev
    {
        top: 1650px !important;

    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next
    {
        top: 1650px !important;
    }
  
    .slide-photo
    {
        width: 220px;
        height: 110px;
    }

    #contacts span
    {
        font-size: 10px;
        line-height: 12px;
    }
    .regButton{ 
        
        font-size: 10px;
        line-height: 12px;
    }

    .button{
        margin: 0;
    }

    
}

@media (max-width:1000px){
    .swiper{
        display: none;
    }

    .slide-grid p {
        text-align: center;
        margin: 0;
        padding: 8px;
    }
}
@media (min-width:1000px){
    .slide-grid{
        display: none;
    }
}

.swiper{

    width: 1000px;
    height: 100%;
  }

.swiper-slide{

    text-align: center;
    font-size: 18px;
  }

.swiper-slide p{

    text-align: center;
  }


.swiper-slide img{

    width: 58%;
  }

.swiper-button-next, .swiper-rtl .swiper-button-prev{

    right: 140px !important; 
    left: auto;
  }

.swiper-button-prev, .swiper-rtl .swiper-button-next{

    left: 140px !important; 
    right: auto; 
  }

#contacts{

    background-color: #FFFFFF;
    margin: -8px;
    padding-bottom: -8px;
}


#contacts span  {

    font-weight: 400;
    color: #2C3333;
}

 span > p{

    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.button{ 

   text-align: center;
}

.regButton {  

    background: #2C3333;
    border: 1px solid  #89aeb8;
    border-radius: 3px;
    padding: 6px 24px;
    cursor: pointer;
    color: #E7F6F2;
}

.regButton:hover {

    background: #14424E;
}

#window {

    font-family: 'Lato', sans-serif;
    font-weight: normal;
    width: 350px;
    height: 530px;
    margin: 40px auto;
    background: #395B64;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150; display: none;
     position: fixed; left: 0;right: 0;top:0;bottom: 0;
} 

.form{

    width: 275px; 
    margin: -15px auto 20px auto; 
    text-align: center;
} 

.input{

    width: 260px;
    padding: 5px; 
    margin-bottom: 10px; 
} 


#gray{
    opacity: 0.8; 
    padding: 15px;
    background-color: rgba(1,1,1,0.75); 
    position: fixed; 
    left: 0;
    right: 0;
    top:0;
    bottom: 0; 
    display: none; 
    z-index:100; 
    overflow: auto; 
} 
